<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="MP3Rest" version="3.0">
  <display-name>MP3Rest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>
 	    Music database
 	  </description>
    <res-ref-name>musicDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <lookup-name>java:jboss/datasources/musicDB</lookup-name>
  </resource-ref>
  <!-- 
    <resource-ref>
    <description>
 	    EntityManager
 	  </description>
    <res-ref-name>em</res-ref-name>
    <res-type>javax.persistence.EntityManager</res-type>
    <res-auth>Container</res-auth>
    <lookup-name>java:comp/env/MP3Rest</lookup-name>
  </resource-ref>
  -->
  <listener>
      <listener-class>
de.cgawron.mp3.server.upnp.UPNPServletContextListener
        </listener-class>
    </listener>
  <context-param>
  	<param-name>baseURL</param-name>
  	<param-value>http://192.168.10.2:8080</param-value>
  </context-param>

</web-app>